
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

#header{
    height: 46px;
    background-color: #000;
}

#nav{
    margin-left: 100px;
}

#nav, .subnav{
    list-style-type: none;
}

#nav li{
    display: inline-block;
    position: relative;
}

#nav > li > a{
    color: #fff;
}

#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0px 24px ;
    display: inline-block;
}



#nav > li:hover .subnav{
    display: block;
}


#nav .subnav{
    display: none;
    position: absolute;
    background-color: bisque;
}


.btn,
#nav .subnav a{
    color: #fff;
    display: block;
    padding: 4px 32px;
    background-color: #302b2b;
}

.btn{
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 15px 30px;
}


#nav > li:hover > a,
#nav .subnav li:hover a,.btn:hover{
    color: #000;
    background-color: #ccc;
}

td img{
    width: 100px;
    height: auto;
}

#btnUser{
    margin-left: 60%;
}