<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: html_head">
    <title>Document</title>
</head>
<body>
    <script>
        function clearFilter(){
            window.location.href = "http://localhost:8080/products";
        };
    </script>
    <div th:replace="fragments :: menu"/>
    <div align="center">
        <h1>List products</h1>
        <h2>
            <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/products/new}"> Add New Product</a>
        </h2>
    </div>
    <div align="center">
        <div>
            <form th:action="@{/products/page/1}">
                Filter : 
                <input th:unless="${keyword.equals('null')}" type="text" name="keyword" width="80px" th:value="${keyword}" required/>&nbsp;
                <input th:if="${keyword.equals('null')}" type="text" name="keyword" width="80px" required/>&nbsp;
                <input type="hidden" name="sortDir"  th:value="${sortDir}"/>
                <input type="hidden" name="sortField"  th:value="${sortField}"/>
                <input type="submit" value="Search" />
                <input type="button" value="Clear" onclick="clearFilter()"/>
            </form>
            &nbsp;
        </div>
        <table border="1px" cellpadding="4px" width="50%">
            <tr>
                <th>
                    <a th:href="@{'/products/page/' + ${pageNumber} + '?keyword=' + ${keyword} +'&sortField=id&sortDir='+${sortDir}}">ID</a>
                </th>
                <th>
                    <a th:href="@{'/products/page/' + ${pageNumber} + '?keyword=' + ${keyword} +'&sortField=name&sortDir='+${sortDir}} ">Product Name</a>
                </th>
                <th>Logo</th>
                <th>
                    <a th:href="@{'/products/page/' + ${pageNumber} + '?keyword=' + ${keyword} +'&sortField=category&sortDir='+${sortDir}} ">Categoy Name</a>
                </th>
                <th sec:authorize="hasAuthority('ADMIN')">Actions</th>
            </tr>
            <th:block th:each="pro : ${listProducts}">
                <tr align="center">
                    <td>[[${pro.id}]]</td>
                    <td>[[${pro.name}]]</td>
                    <td>
                        <img th:src="@{${pro.logoImagePath}}" alt="Logo goes here ..." />
                    </td>
                    <td>[[${pro.category}]]</td>
                    <td sec:authorize="hasAuthority('ADMIN')" width="20%">
                        <a th:href="@{'/products/edit/' + ${pro.id}}">Edit</a> &nbsp;
                        <a th:href="@{'/products/delete/' + ${pro.id}}">Delete</a>
                    </td>
                </tr>
            </th:block>
        </table>
        <div>
            Total Elements : [[${totalElements}]] - Page [[${pageNumber}]]  of [[${totalPages}]] - 
            <span th:each="i : ${#numbers.sequence(1, totalPages)}">
                <a th:if="${i != pageNumber}" th:href="@{'/products/page/' + ${i} + '?keyword=' + ${keyword}} +'&sortField=' + ${sortField} + '&sortDir='+${sortDir}">[[${i}]]</a>
                <span th:unless="${i != pageNumber}">[[${i}]]</span> &nbsp;
            </span>
        </div>
    </div>
</body>
</html>