<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <script>
        function backToProducts(){
            window.location.href="http://localhost:8080/products";
        }
    </script>
    <div align="center">
        <h2>
            Add New Product
        </h2>
    </div>
    <form th:action="@{/products/save}" method="post" >
        <table align="center" cellpadding="10px" th:object="${product}">
            <input type="hidden" th:field="*{id}"/>
            <tr>
                <th>Product Name</th>
                <td>
                    <input type="text" width="80px" th:field="*{name}"/>
                </td>
            </tr>
            <tr>
                <th>Category Name</th>
                <td>
                    <select name="category" width="80px" th:field="*{category}">
                        <option th:each="cate : ${listCategories}" 
                            th:value="${cate.id}" th:text="${cate.name}">
                    </select>
                </td>
            </tr>
            <tr>
                <th></th>
                <td>
                    <input type="submit" width="40px" value="Submit"/> &nbsp;
                    <input type="button" width="40px" onclick="backToProducts()" value="Cancel"/>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>